name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: n-WN
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Shanghai
          filename: github-metrics.svg
          
          # Plugin: Languages
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          plugin_languages_analysis_timeout: 15

          # Plugin: Repositories
          # We use this to replicate the "Pinned" look, or just show top repos
          plugin_repositories: yes
          plugin_repositories_featured: n-WN/sagemath-vscode-enhanced, n-WN/Pwn4Sage, n-WN/translate-shell, n-WN/share_these, ctf-wiki/ctf-wiki, OI-wiki/OI-wiki, Samueli924/chaoxing, ProbiusOfficial/Hello-CTF
          
          # Output to a separate branch to keep main clean
          committer_branch: metrics
          committer_message: "chore: update metrics"
