name: Metrics
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        name: Personal Stats
        with:
          filename: metrics-stats.svg
          token: ${{ secrets.METRICS_TOKEN }}
          committer_branch: metrics
          committer_message: "chore: update metrics"
          user: n-WN
          template: classic
          base: activity, community
          config_timezone: Asia/Shanghai
          config_width: 480
          config_padding: 0, 8
